/* width & height - expample 1 */
/* @media (max-width:800px) {
    .left-block,
    .right-block  {
        width: 150px;
        height: 150px;
    }

}
@media (max-width:480px) {
    .right-block {
        display: none;
    }
} */


/* fledx-direction example 2 */

 /* @media (max-width:870px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .center-block {
        margin-top: 50px;
        margin-bottom: 50px;
    }
/} */

 @media (max-width: 600px) {
    .wrapper {
        justify-content: center; 
    }
    .center-block {
        margin-top: 50px;
        margin-bottom: 50px;
    }
} 


/* image example */
@media (max-width: 1024px) {
    .images-wrapper {
        flex-direction: column;
        align-items: center;
    }
} 